body {
  margin: 30px;
  font-family: 'Sulphur Point', sans-serif;
}

.bio {
  grid-area: bio;
}

.photo {
  grid-area: photo;
}

.wrapper {
  display: grid;
  background-color: mistyrose;
  padding: 30px;
  text-align: left;
  grid-template-rows: 315px 130px 130px;
  grid-template-areas: 
    'photo video video'
    'bio bio bio';
}

.navbar {
  background: rosybrown;
  padding: 30px;
  font-family: 'Rock Salt', cursive;
  font-size: larger;
  color: saddlebrown;
}

.video {
  padding: 5px
}

.s1 {
  font size: 2;
}

.contact {
  margin-top: 10px;
  font-family: 'Rock Salt', cursive;
  font-size: medium;
}

.bio {
  font-size: 1.5;
}

.footer {
  background: ivory;
}